@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: #ffffff;
  --text-color: #111827;
}

.dark {
  --bg-color: #111827;
  --text-color: #f9fafb;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}